.container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 5%;
}
.cart-container{
    position: sticky;
    top: 0;
    height: 100vh;
    padding: 20px;
    background: rgba(255, 153, 0, 0.3);
    border-radius: 8px;
}

.summary{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #1C2B35;
    text-align: center;
}